

# =========================

# LARGE DATA (DO NOT PUSH)

# =========================

datasets/SDWA_dataset/

# =========================

# VIRTUAL ENVIRONMENT

# =========================

venv/
env/
.venv/

# =========================

# PYTHON CACHE

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# JUPYTER

# =========================

.ipynb_checkpoints/

# =========================

# DATABASE FILES

# =========================

*.db
*.sqlite
*.sqlite3

# =========================

# LOG FILES

# =========================

*.log

# =========================

# OS FILES

# =========================

.DS_Store
Thumbs.db

# =========================

